.section {
  background-color: #fff;
  font-size: 14px;
  color: #22356F;
  ;
}

.main {
  padding:0 170px 0 0 ;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
.textContent {
  /* max-width: 700px; */
}

.title {
  font-style: italic;
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 46px;
  text-align: left;
}

.description {
  font-size: 24px;
  font-weight: 400;
  text-align: left;
}
